/** File to be processed with tailwind's CLI */
@import "tailwindcss";

@theme {
	--color-primary: rgb(13, 13, 13);
	--color-secondary: rgb(255, 255, 255);
	--color-accent1: rgb(0, 255, 133);
	--color-accent2: rgb(30, 144, 255);
	--color-accent3: rgb(255, 0, 153);
}

@layer base {
	a {
		@apply text-accent1 hover:underline hover:decoration-wavy;
	}
}
