# find out the database location based on project's name 
PROJECT="$(basename "${PWD}")"
XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"
DATA_DIR="${XDG_DATA_HOME}/${PROJECT}"

if [ ! -d "${DATA_DIR}" ]; then
    echo "Creating ${DATA_DIR}"
    mkdir -p "${DATA_DIR}"
fi

export ZMIG_DB_PATH="${DATA_DIR}/db.sqlite3"

if [ ! -f "${ZMIG_DB_PATH}" ]; then
    echo "Creating ${ZMIG_DB_PATH}"

    # create database file
    # NOTE: empty command prevents going into REPL
    sqlite3 "${ZMIG_DB_PATH}" ''

fi
